body {
    background: aliceblue;
}

.hi-name {
    margin-left: 45%;
}

table {
    margin: 4% 10% 5px 10%;
    display: block;
    font-size: 15px;
}

#no-wines-available {
    margin: 20% 30% 0 30%;
    font-size: 20px;
    font-family: cursive;
}
