<link href="~/Style.css" rel="stylesheet" type="text/css" />
    
<p>Enter a price and points</p>

<form method="post">
    <label for="Name">Name</label>
    <input maxlength="20" name="Name" /> <br />

    <label for="Price">Wine Price</label>
    <input maxlength="3" name="Price" /> <br />

    <label for="Points">Wine Points</label>
    <input maxlength="10" name="Points" /> <br />

    <button type="submit">Search!</button>
</form>
